{% extends 'layout.html' %}


{%block body%}
<div class="row mb-2">

<!-- <div class="col-4">
<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#upload_logs" role="button" aria-expanded="false"
  aria-controls="upload_logs">
  <i class="fas fa-upload"></i> Upload Log Data
</a>
</div> -->
</div>



<!-- UPLOAD FLIGHT DATA -->
<div class="row  border-bottom border-top m-3 ml-2 mr-2">
   
    <div class="col-4 mb-4"> <p class="display-5 align-center">Input</p></div>
    <div class="col-8 mb-4"><p class="display-5 align-center">Output</p></div>
    
</div>
<div class="row ml-4">
    <div class="col-4">


            <!-- <div class="row ml-2 ">
              <p class="lead">
                Upload vlan data files here. Ensure the vlan id and the vlan name is single spaced for each line.
              </p>
            
             
            </div> -->
            <!-- <div class="card card-body mt-3 mb-4">
                <p class = "special-font x-large"><i class="fas fa-upload"></i> Upload Log</p>
                <form
                  class="form-group"
                  enctype=multipart/form-data
                  action="{{url_for('main.upload_vlan_data')}}"
                  method="post"
                >
                  <div class="row">
                    <div class="col-4">
                      <input
                        type="file"
                        class="input-group form-control"
                        name="file"
                      />
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary">
                        <i class="fas fa-upload"></i> Upload
                      </button>
                    </div>
                    
                  </div>
                </form>
            </div>   
        </div> -->
       

        {%if convert %}

        <!-- <div class="row ml-4">
        <div class="col-4"> -->
        
               
            <div class="btn btn-lg btn-success">
                <a class = "none" href = "{{url_for('main.convert_vlan_data')}}">Convert</a>
            </div>
           
  
            </div>
        {%else%}
        <div class="row ml-2 ">
            <p class="lead">
              Upload vlan data files here. Ensure the vlan id and the vlan name is single spaced for each line.
            </p>
            <!-- <hr> -->
           
          </div>
          <div class="card card-body mt-3 mb-4">
              <p class = "special-font x-large"><i class="fas fa-upload"></i> Upload Log</p>
              <form
                class="form-group"
                enctype=multipart/form-data
                action="{{url_for('main.upload_vlan_data')}}"
                method="post"
              >
                <div class="row">
                  <div class="col-4">
                    <input
                      type="file"
                      class="input-group form-control"
                      name="file"
                    />
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-primary">
                      <i class="fas fa-upload"></i> Upload
                    </button>
                  </div>
                  <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
                </div>
              </form>
          </div> 
           
      </div>
      {%endif%} 

        
  <div class="col-8">

    {%if data%}
    <div class="container result-section border">
    <div class="col">
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-copy"></i> Copy
        </button>
        </div>

    
    {{data}}
   
    </div>
    {%else%}
    <div class="container result-section border">

    
   <p class = 'display-6'>Data will be displayed here</p>
   
    </div>
    {%endif%}
  </div>

  
</div>
{%endblock%}
