.navbar{
    background-color: gold;
    height: 60px;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

.result-section{
    min-height: 400px;
    width: 600px;
    background-color: whitesmoke;
}

.result_font{
    font-family: consolas;
}

.align-center{
    text-align: center;
}

.bottom-right{
    height: 350px;
    width: 580px;
}


/* FONTS */
.special-font {
    font-family: Salesforce Sans, -apple-system, BlinkMacSystemFont, avenir next,
      avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial,
      sans-serif;
  }

  .small{
    font-size: small;
  }
  .medium{
    font-size: medium;
  }
  .large{
    font-size: large;
  }
  .x-large{
    font-size: x-large;
  }